@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root{
    --24A19C: #24A19C;
    --FAEEE7: #FAEEE7;
    --325288: #325288;
    --D96098: #D96098;
    --gap: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--FAEEE7);
}

html{
    font-size: 72,5%;
    font-family: 'Secular One', sans-serif;
    scroll-behavior: smooth;
}

/*PRINCIPAIS*/
.main-background{
    background: var(--24A19C);
}

.main-content{ /*TAMANHO DO CONTEUDO*/
    max-width: 1200px;
    margin: 0 auto;
}

.main-height{ /*UMA SECTION OCUPA TODA A TELA */
    min-height: 100vh;
}

/*HEADER*/
.header-container{
    background: var(--325288);
    border-bottom: 0.1rem rgba(0, 0, 0, 0.171) solid;
    position: fixed;
    width: 100%;
}

.header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--FAEEE7);
}

.header-content h1{
    font-size: 2.5rem;
}

.list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2rem;
}

.list-header li:hover{
    transform: translateY(-3px);
}

/*SECTION MAIN*/
.main-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    line-height: 2rem;
    padding-top: 6rem;
    color: var(--FAEEE7);
}

.main-img img{
    width: 50rem;
}

.main-text h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.btn-section{
    background: var(--325288);
    color: var(--FAEEE7);
    width: 12rem;
    height: 5rem;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.btn-section:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.1rem 0.5rem black;
}

/*SECOND SECTION*/
.second-container{
    padding-top: var(--gap);
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 38rem;
    color: var(--325288);
}

.second-container h1{
    font-size: 3rem;
}

.second-list{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
}

/*THIRD SECTION*/
#third-section{
    background-image: url("../img/aboutus.svg");
    background-position: center;
}

.third-container{
    padding-top: 22rem;
}

.third-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;

    background: var(--325288);
    margin: 0 2rem;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.514);
}

.item-info h1{
    font-size: 2.2rem;
}

.item-info h1{
    font-size: 2rem;
}

.item-info button{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

/*CONTACT SECTION*/
#contact-section{
    background: var(--325288);
}

.contact-container{
    padding-top: 8rem;
}

.contact-design{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    background: var(--24A19C);
    border-radius: 20px;
    color: var(--FAEEE7);
}

.contact-img img{
    width: 40rem;
}

.contact-form{
    background: var(--325288);
    margin: 0 4rem;
    border-radius: 20px;
}

.contact-form h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-form input{
    width: 25em;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 40px;
}

.contact-form button{
    width: 10rem;
    border: none;
    border-radius: 20px;
    margin: 1rem 0;
    height: 2rem;
    background: var(--24A19C);
    font-weight: bold;
    color: var(--FAEEE7);
}

.contact-form button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0.1rem 0.5rem black;
}

