@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
:root{
    --main-color: #02735E;
    --secundary-color: #025951;
    --light-green: #0CF25D;
    --dark-blue: #034159;
    --dark-green: #038c3e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    background: var(--secundary-color);
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
    background: var(--dark-green);
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.section-area{ /*ocupa toda a tela disponível*/
    height: 100vh;
}

.menu{
    position: fixed;
    background: var(--secundary-color);
    border-bottom: 0.01rem solid var(--dark-blue);
    width: 100vw;
    height: 4rem;
    z-index: 1000;
}

.menu .menu-lista{
    list-style: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: space-around;
}

.menu .menu-lista li:hover{
    cursor: pointer;
    border-bottom: 0.15rem solid var(--light-green);
}

.inicio-container{
    background: var(--main-color);
}

.inicio-container .blob, .texto-inicio{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
}

.inicio-container .texto-inicio, .informacoes-gerais-container h1{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    width: 25rem;
    z-index: 999;
}

.informacoes-gerais-container{
    background: var(--dark-blue);
}

.informacoes-gerais-container main{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.informacoes-gerais-container main h1{
    font-size: 3.75rem;
}

.informacoes-gerais-container main hr{
    width: 25rem;
    height: 0.2rem;
    background: var(--light-green);
}

.informacoes-gerais-container main img{
    border-radius: 50%;
    border: 0.1rem solid var(--dark-green);
    box-shadow: 0rem 0rem 0.5rem var(--light-green);
    width: 20rem;
    height: 20rem;
    animation: cor 3s ease infinite alternate-reverse;
}


.informacoes-gerais-container main div{
    width: 51rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.informacoes-gerais-container main div .lista-informacoes{
    list-style: none;
    width: 25rem;
}

.informacoes-gerais-container main div .lista-informacoes li{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}

@keyframes cor{
    0% {box-shadow: 0rem 0rem 1rem var(--light-green);}
    25% {box-shadow: 0rem 0rem 0.3rem var(--light-green);}
    50% {box-shadow: 0rem 0rem 0.5rem var(--light-green);}
    75% {box-shadow: 0rem 0rem 0.8rem var(--light-green);}
    100% {box-shadow: 0rem 0rem 1rem var(--light-green);}
}

