@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
    --082032: #082032;
    --2C394B: #2C394B;
    --334756: #334756;
    --FF4C29: #FF4C29;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--2C394B);
    font-family: 'Kanit', sans-serif;
    color: #fcfcfcfc;
}

.container-login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--334756);
    width: 65rem;
    height: 35rem;
    border-radius: 20px;
    box-shadow: -4px 4px var(--FF4C29);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img-login img{
    width: 40rem;
}

.box-login{
    background: #fc4c29d2;
    height: 30rem;
    margin: 1.5rem;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: -0.3rem 0.3rem var(--2C394B);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.box-login h1{
    margin-top: 2rem;
    font-size: 2.5rem;
    text-shadow: -0.1rem 0.1rem var(--2C394B);
}

.input-box-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box-login button{
    background: var(--2C394B);
    color: #fcfcfcfc;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 20rem;
    height: 4rem;
    cursor: pointer;
}

.input-box-login button:hover{
    transform: translateY(-3px);
    transition: 0.3s;
    box-shadow: -0.1rem 0.1rem white;
}

.email-login, .password-login{
    border: none;
    height: 3rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-shadow: -0.2rem 0.2rem var(--2C394B);
}

.button-return{
    cursor: pointer;
}

.button-return:hover{
    color: var(--082032);
}

.password-login{
    margin-bottom: 2rem;
}

.form-sign{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 2rem;
}

.box-form-sign h1{
    font-size: 3rem;
    margin: 0.2rem 3rem;
    text-align: left;
}

.form-sign label{
    width: 20rem;
    margin-bottom: 0.2rem;
}

.form-sign input{
    border: none;
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: -0.2rem 0.2rem var(--2C394B);
}

.form-sign button{
    background: var(--FF4C29);
    text-transform: uppercase;
    font-weight: bold;
    color: #fcfcfcfc;
    border: none;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    cursor: pointer;
}

.form-sign button:hover{
    box-shadow: -0.1rem 0.1rem white;
}

.form-sign div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
}

.form-sign h3{
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.form-sign h3:hover{
    color: var(--082032);
}

.welcome{
    background: #fc4c29d2;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.5rem;
    height: 9rem;
}

.welcome .investiment{
    background: var(--2C394B);
    border-radius: 20px;
    font-size: 2rem;
    margin: auto;
    width: 30rem;
}

.animation{
    transform: translateY(1rem); 
    animation: slide 0.15s forwards;
}

.animationY{
    transform: translateX(1rem); 
    animation: slideY 0.15s forwards;
}

@keyframes slide{
    from{
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideY{
    from{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media(max-width: 1060px){
    .container-login{
        width: 50rem;
        height: 30rem;
    }
    
    .img-login img{
        width: 30rem;
    }

    .box-login{
        height: 25rem;
        margin: 1.5rem;
    }

    .box-login h1{
        font-size: 2rem;
    }

    .input-box-login button{
        font-size: 1rem;
        width: 14rem;
    }

    .email-login, .password-login{
        width: 14rem;
    }

    .box-form-sign{
        height: 28rem;
    }
    
    .form-sign input{
        width: 15rem;
        height: 1rem;
        margin-bottom: 0.5rem;
    }

    .form-sign label{
        width: 15rem;
        margin-bottom: 0.2rem;
    }
    
    .form-sign button{
        width: 6rem;
    }
    
    .form-sign div{
        width: 15rem;
    }
     
    .welcome{
        font-size: 1rem;
        height: 10rem;
        width: 25rem;
    }
    
    .welcome .investiment{
        width: 20rem;
    }

}

@media(max-width: 810px){
    .container-login{
        width: 43rem;
        height: 28rem;
    }
    
    .img-login img{
        width: 25rem;
    }
    
    .box-login{
        height: 24rem;
    }

    .box-login h1{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .input-box-login button{
        width: 12rem;
        height: 3rem;
    }

    .email-login, .password-login{
        width: 12rem;
    }

    .box-form-sign{
        height: 26.5rem;
    }
    
    .form-sign input{
        width: 12rem;
        margin-bottom: 0.3rem;
    }

    .form-sign label{
        width: 12rem;
        margin-bottom: 0.1rem;
    }
    
    .form-sign button{
        width: 5rem;
    }
    
    .form-sign div{
        width: 12rem;
    }
     
    .welcome{
        font-size: 1rem;
        height: 10rem;
        width: 22rem;
    }
    
    .welcome .investiment{
        width: 18rem;
    }

}

@media(max-width: 700px){

    .container-login{
        width: 30rem;
        height: 35rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-login{
        text-align: center;
    }
    
    .img-login img{
        width: 22rem;
    }

    .box-login{
        height: 15rem;
        width: 25rem;
        margin: auto;
    }

    .box-login h1{
        margin-top: 0rem;
        margin-bottom: 0.3rem;
        font-size: 2rem;
    }

    .input-box-login .form-login button{
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
        width: 10rem;
        height: 2rem;
    }

    .input-box-login .form-login h3{
        font-size: 1rem;
        margin-top: -0.5rem;
    }
    
    .input-box-login button{
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
        width: 15rem;
    }

    .email-login, .password-login{
        margin: 0.3rem;
        width: 15rem;
        height: 1rem;
    }

    .box-form-sign{
        height: 26rem;
    }
    
    .form-sign input{
        width: 20rem;
        margin-bottom: 0.2rem;
    }

    .form-sign label{
        width: 20rem;
    }
    
    .form-sign button{
        width: 7rem;
    }
    
    .form-sign div{
        width: 20rem;
    }
     
    .welcome{
        border-top-left-radius: 8px;
        font-size: 0.8rem;
        height: 7rem;
        width: 25rem;
    }

    .welcome .investiment{
        font-size: 1.5rem;
    }
    
    .welcome .investiment{
        height: 2.5rem;
        width: 20rem;
    }

}

@media(max-width: 500px){
    .container-login{
        width: 20rem;
    }
    
    .img-login img{
        width: 20rem;
    }

    .box-login{
        height: 15rem;
        width: 18rem;
    }

    .box-login h1{
        font-size: 1.7rem;
    }

    .box-form-sign{
       width: 20rem;
    }

    .form-sign input{
        width: 14rem;
    }

    .form-sign label{
        width: 14rem;
    }
    
    .form-sign button{
        width: 7rem;
    }
    
    .form-sign div{
        width: 14rem;
    }
     
    .welcome{
        border-top-left-radius: 8px;
        font-size: 0.7rem;
        height: 7rem;
        width: 18rem;
    }

    .welcome .investiment{
        font-size: 1.4rem;
    }
    
    .welcome .investiment{
        height: 4.2rem;
        width: 15rem;
    }

}

.hide{ 
    display:none; 
}

.show{ 
    display:block;
}
